@import url("../fonts/stylesheet.css");
* {
    padding: 0;
    margin: 0;
}
tab {
    margin-left: 6px
}
body {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#bar {
    background-color: rgba(0, 0, 0, 0.239);
    width: 100%;
    min-width: 580px;
    height: 30px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    mix-blend-mode: color-burn;
}
.right-section {
    float: right;
    list-style-type: none;
    display: flex;
}
.right-section li {
    padding: 7px;
    margin-right: 2px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    color: white;
}
.left-section {
    float: left;
    list-style-type: none;
    display: flex;
}
.left-section li {
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    color: white;
    display: inline-block;
    position: relative;
    z-index: 999;
    padding: 8px;
}
li:focus {
    background-color:  rgba(206, 192, 255, 0.226);
}
li {
    font-family: 'SF Pro Display';
    font-weight: 400;
}
.firstItemRight {
    margin-right: 8px !important;
    margin-top: -1px;
    font-size: 14px !important;
}
#itemIcon {
    float: left;
    display: flex;
    margin-top: 3px;
}
.itemText {
    width: auto;
    text-align: right;
    margin-right: 5px;
    font-size: 13px;
    float: left;
    /*display: block !important;*/
}
.mainText {
    font-size: 15px;
    margin-top: -3px !important;
    margin-left: 10px !important;
}
.battery-icon {
    background: url(../img/battery_5.png);
    width: 30px;
    height: 30px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: -10px;
    
}

.cellular-icon {
    background: url(../img/signal4.png);
    width: 20px;
    height: 20px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: -5px;
}
.wifi-icon {
    background: url(../img/wifi4.png);
    width: 19px;
    height: 19px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: -5px;
}
.bt-icon {
    background: url(../img/bluetooth.png);
    width: 16px;
    height: 16px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: -3px;
}
.apple-icon {
    background: url(../img/apple.svg);
    width: 17px;
    height: 17px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: -6px;
}
.music-icon {
    width: 20px;
    height: 20px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: -5px;
}
.mplay {
    background: url(../img/play.png);
}
.mpause {
    background: url(../img/pause.png);
}
.vol-icon {
    background: url(../img/vol2.png);
    width: 18px;
    height: 18px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: -4px;
}
.rightText {
    float: right !important;
    margin-right: -1px;
    margin-left: 4px;
}
.semibold {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
bold {
    font-weight: 600;
}
.max85 {
    max-width: 85px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
a {
    color: white;
    text-decoration: none;
}
.range-slider{
    margin-top: -4px !important;
}
.range-slider__range {
    -webkit-appearance: none;
    height: 3px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
    outline: none;
    padding: 0;
    margin: 0;
    width: 100px;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #535353;
    border: 0;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}
